/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind still not fixed */
@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-open-sans: Open Sans, sans-serif;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  a {
    @apply text-blue-800 underline-offset-2 hover:underline dark:text-blue-300;
  }

  button {
    @apply cursor-pointer;
  }
}

ul.react-paginate {
  @apply flex min-h-0 max-w-sm items-center justify-center gap-4 max-sm:gap-2 sm:max-w-full;
}

ul.react-paginate li a {
  @apply cursor-pointer select-none rounded-lg bg-slate-200 px-3 py-2 hover:bg-slate-300/80 dark:bg-slate-700 dark:hover:bg-slate-700/80;
}

ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  @apply px-2;
}
ul.react-paginate li.selected a {
  @apply bg-blue-300 hover:bg-blue-300/80 dark:bg-blue-700 dark:hover:bg-blue-700/80;
}
ul.react-paginate li.disabled a {
  @apply cursor-not-allowed bg-gray-300 text-gray-500 dark:bg-gray-400;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}
